@model IEnumerable<Discount>

<h2 class="mt-3"><i class="fas fa-list-ul"></i> Current Discounts</h2>
<div class="list-group">
    @foreach (Discount d in Model)
    {
        <div class="list-group-item pb-0">
            <span class="d-flex w-100 pb-2 justify-content-between">
                <span>@d.Title - <i style="opacity:.6;">@d.Description</i></span>
                <span>
                    @if (User.IsInRole("northwind-employee")) {
                        <a class="btn btn-outline-primary" href=#>Edit</a> <a class="btn btn-outline-danger" asp-action="DeleteDiscount" asp-route-id="@d.DiscountId">Delete</a>
                    }
                </span>
            </span>

            <span class="d-flex w-100 justify-content-between">
                <p>Code: @d.Code</p>
                <small>Expires: @d.EndTime.ToString("MMMM dd, yyyy")</small>
            </span>
        </div>
    }
</div>